$purple_primary: #572EE5;
$green_secundary: #50E3C2;
$text_normal: #9CAFC3;
$back_trending: #F3F5F8;


.bar{
    background-color: $purple_primary;
}

header{
    background-color: white;
}
.burger_menu_btn{
    color: $purple_primary;
}
.menu_navegacion{
    background-color: #572ee5f0;

    li{
        color: white;
    }
}




.search_section{
    h2{
        color: $purple_primary;
        span{
            color: $green_secundary;
        }
    }

    i{
        color: $purple_primary;
    }
    .busqueda{
        border: 1px solid $purple_primary;
    }
    h3{
        color: $purple_primary;
    }
    p{
        color: $purple_primary;
    }
}

.section_favs, .section_mis_gifs{
    h2{
        color: $purple_primary;
    }

    .no_gifs{
        color: $purple_primary;
    }
}

.trendings{
    
    background-color: $back_trending;
    h2{
        color: $purple_primary;
    }
    p{
        color: black;
    }
}

// FULL SCREEN
.full_screen_container{

    .fa-times{
        color: $purple_primary;
    }

}


// UPLOAD
.main_upload{

    #comenzar, .capturar, #stop, #subir2{

        color: $purple_primary;
        border: 1px solid $purple_primary;

        &:hover{

            background-color: $purple_primary;
            color: white;
            cursor: pointer;
        }

    }

    .timer{

        color: $purple_primary;
        font-weight: 500;
    }
}
footer{

    .social_media{
        color: $text_normal;
        font-size: 1.8rem;

        i:hover{
            color: $purple_primary;
            cursor: pointer;
        }
    }
}

// DESKTOP
@media only screen and (min-width: 768px) {
    .menu_navegacion{
        background-color: transparent;
    
        li{
            color: $purple_primary;
            font-weight: 500;
            &:hover{
                color: $green_secundary;
            }
        }
    }

    .search_result{
        color: $purple_primary;
        border-top: 2px solid rgba(182, 182, 182, 0.541);
        margin-top: 40px;
    }
}