$dark_background: #37383c;
$dark_trendings: #222326;
$gray_secundary: #5e5e61;
$green_secundary: #50E3C2;
$logos_white: #CDD6E0;
$text_normal: #fff;



body{
    background-color: $dark_background;
}
.bar{
    background-color: black;
}
header{
    background-color: $dark_background;
}
.burger_menu_btn{
    color: white;
}
.menu_navegacion{
    background-color: black;


    li{
        color: $text_normal;
    }
}

.search_section{

    input{
        background-color: transparent;
        color: $text_normal;
    }

    i{
        color: white;
    }

    .sugerencia{
        color: $text_normal;
    }

    .busqueda{
        border: 1px solid white;
    }


    h2{
        color: $text_normal;
        span{
            color: $green_secundary;
        }
    }

    h3{
        color: $text_normal;
    }
    p{
        color: $text_normal;
    }
}

.section_favs, .section_mis_gifs{
    h2{
        color: white;
    }

    .no_gifs{
        color: white;
    }
}
.trendings{
    background-color: $dark_trendings;
    
    h2{
        color: $text_normal;
    }
    p{
        color: $text_normal;
    }
}


// FULL SCREEN
.full_screen_container{
    background-color: $dark_background;

    .fa-times{
        color: white;
    }

    
    h2, p{
        color: white;
    }
}
.slider{
    
    background-color: transparent;
    border: 1px solid white !important;  
    color: white !important;

    &:hover {

        cursor: pointer;
        background-color: white !important;
        color: black !important;
    }
}

footer{

    .social_media{
        color: $logos_white;
        font-size: 1.8rem;

        i:hover{
            color: white;
            cursor: pointer;
        }
    }
}

// DESKTOP
@media only screen and (min-width: 768px) {
    .menu_navegacion{
        background-color: transparent;
        
        ul{
            background-color: transparent;
        }
        li{
            color: $text_normal;
            font-weight: 500;
            background-color: transparent;
            &:hover{
                color: $green_secundary;
            }
        }
    }
}