
.section_favs{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 46px;



    .grid_container {

        margin-top: 46px;
        width: 95vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px 0;
        grid-auto-rows: minmax(100px, auto);
        
        .no_gifs{
            text-align: center;
        }
    }
}

// GRILLA PARA DESKTOP
@media only screen and (min-width: 768px) {
    .grid_container {
        width: 80vw !important;
        display: grid;
        grid-template-columns: repeat(4, 1fr) !important;
        grid-gap: 10px !important;
        grid-auto-rows: minmax(100px, auto) !important;
    }
}