* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden;
}

.bar {
  width: 100%;
  height: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 22px 22px 22px;
  z-index: 1;
  height: 95px;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
}

header .logo:hover {
  cursor: pointer;
}

header .burger_menu_btn {
  font-size: 20px;
}

header .menu_navegacion {
  position: fixed;
  top: -100vh;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .menu_navegacion ul {
  margin-top: 10vh;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu_navegacion ul img {
  display: none;
}

header .menu_navegacion ul li {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu_navegacion ul li:hover {
  cursor: pointer;
  -webkit-text-decoration: underline #50E3C2;
          text-decoration: underline #50E3C2;
}

header .menu_navegacion ul li span {
  margin-top: 10px;
  border-bottom: 1px solid;
  width: 35%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .search_result {
  display: none;
}

main .search_result .search_title {
  text-align: center;
  margin: 60px;
}

main .search_result h3 {
  margin: 50px 0 0 0;
}

main .search_section {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 90%;
}

main .search_section h2 {
  width: 95%;
  text-align: center;
  font-size: 25px;
}

main .search_section img {
  margin-top: 30px;
  width: 82%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .search_section .busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 10px 20px;
  border-radius: 27px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .search_section .busqueda .resultado {
  display: none;
  margin-left: 10px;
  border-top: 1px solid #c4c4c4;
  margin-top: 20px;
}

main .search_section .busqueda .resultado .sugerencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  padding: 5px;
}

main .search_section .busqueda .resultado .sugerencia:hover {
  background-color: rgba(191, 189, 189, 0.3);
  cursor: pointer;
}

main .search_section .busqueda .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

main .search_section .busqueda .search .icon_close {
  display: none;
}

main .search_section .busqueda .search .input_search {
  height: 22px;
  border: none;
  width: 65vw;
  margin: 0 10px;
  padding-left: 10px;
}

main .search_section .busqueda .search .icons:hover {
  cursor: pointer;
}

main .search_section .busqueda .busqueda {
  display: none;
}

main .search_section h3 {
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 44px 0 5px 0;
  font-weight: 800;
}

main .search_section p {
  font-size: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70%;
  text-align: center;
  font-weight: 400;
}

.gif {
  background-size: 100% 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 260px;
  height: 200px;
}

.gif .gif_bg {
  overflow: hidden;
  height: 100%;
}

.gif .gif_hover {
  background-color: #562ee5a3;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  height: 100%;
}

.gif .gif_hover .buttons {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.gif .gif_hover .buttons .button {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  border: none;
  opacity: 0.8;
}

.gif .gif_hover .buttons .button i {
  color: #562ee5;
}

.gif .gif_hover .buttons .button:hover {
  opacity: 1;
  cursor: pointer;
}

.gif .gif_hover .buttons .un_fav {
  opacity: 1;
}

.gif .gif_hover h2 {
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.gif .gif_hover P {
  justify-self: flex-end;
  color: white;
  font-size: 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.gif .gif_hover .unfav .un_fav, .gif .gif_hover .unfav .delete {
  display: none;
}

.gif .gif_hover .mygif .un_fav, .gif .gif_hover .mygif .fav {
  display: none;
}

.gif .gif_hover .mygif .delete {
  display: inline-block !important;
}

.gif .gif_hover .favorite .fav, .gif .gif_hover .favorite .delete {
  display: none;
}

@media only screen and (max-width: 768px) {
  .gif, .trending {
    width: 156px;
    height: 120px;
  }
  .gif .gif_hover, .trending .gif_hover {
    padding: 5px !important;
  }
  .gif .gif_hover .button, .trending .gif_hover .button {
    -webkit-transform: scale(0.9) !important;
            transform: scale(0.9) !important;
  }
  .gif .gif_hover h2, .trending .gif_hover h2 {
    font-size: 10px;
  }
  .gif .gif_hover p, .trending .gif_hover p {
    font-size: 8px;
  }
}

.full_screen_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10000;
  padding: 15px;
  border: 2px solid black;
  overflow: scroll;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full_screen_container .fa-times {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 1.4rem;
}

.full_screen_container .fa-times:hover {
  cursor: pointer;
}

.full_screen_container .controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  width: 50vw;
  border: 1px solid rgba(128, 128, 128, 0.46);
}

.full_screen_container .controllers .button {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  border: none;
  opacity: 0.8;
}

.full_screen_container .controllers .button i {
  color: #562ee5;
}

.full_screen_container .controllers .button i:hover {
  cursor: pointer;
}

.full_screen_container .controllers .button:hover {
  opacity: 1;
  cursor: pointer;
}

.full_screen_container .controllers .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.full_screen_container .controllers .info h2, .full_screen_container .controllers .info p {
  font-size: 0.7rem;
}

.full_screen_container .favorite .delete, .full_screen_container .favorite .expand, .full_screen_container .favorite .fav {
  display: none;
}

.full_screen_container .unfav .delete, .full_screen_container .unfav .expand, .full_screen_container .unfav .un_fav {
  display: none;
}

@media only screen and (max-width: 768px) {
  .full_screen_container img {
    width: 95vw;
  }
  .full_screen_container .controllers {
    width: 97%;
    height: 10vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.section_favs, .section_mis_gifs, .search_result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 46px;
}

.section_favs .grid_container, .section_mis_gifs .grid_container, .search_result .grid_container {
  margin-top: 46px;
  width: 95vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px 0;
  grid-auto-rows: minmax(100px, auto);
}

.section_favs .grid_container .no_gifs, .section_mis_gifs .grid_container .no_gifs, .search_result .grid_container .no_gifs {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .grid_container {
    width: 80vw !important;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4] !important;
        grid-template-columns: repeat(4, 1fr) !important;
    grid-gap: 10px !important;
    grid-auto-rows: minmax(100px, auto) !important;
  }
}

main .trendings {
  padding: 46px 0;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .trendings h2 {
  font-size: 20px;
}

main .trendings p {
  font-size: 16px;
  text-align: center;
  width: 60%;
  font-family: Roboto, sans-serif;
}

.trendings_container {
  margin-top: 20px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendings_container .carousel-gif-tendencias {
  scroll-behavior: smooth;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 230px;
}

.trendings_container .carousel-gif-tendencias::-webkit-scrollbar {
  display: none;
}

.trendings_container .carousel-gif-tendencias .gif {
  margin: 10px;
  min-width: 176px;
  height: 140px;
}

.trendings_container .carousel-gif-tendencias .gif .gif_hover .info p, .trendings_container .carousel-gif-tendencias .gif .gif_hover .info h2 {
  font-size: 1.03rem;
  text-align: left;
}

.trendings_container .slider {
  display: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #572EE5;
  color: #572EE5;
}

.trendings_container .slider:hover {
  cursor: pointer;
  background-color: #572EE5;
  color: white;
}

.button_more {
  padding: 12px;
  border-radius: 25px;
}

.container-create-gif {
  min-height: 100%;
}

.record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.record #button_list {
  margin-top: -88px;
  margin-bottom: 26px;
}

.animation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(-444px, 114px);
  transform: translate(-444px, 114px);
}

.animation__container--luz {
  height: 151px;
  width: 91px;
  -webkit-transform: translate(5px, 2px);
  transform: translate(5px, 2px);
  -webkit-animation: blink_light 1s ease infinite;
  animation: blink_light 1s ease infinite;
}

.animation__container--wheels {
  -webkit-transform: translate(-8px, 15px);
  transform: translate(-8px, 15px);
}

.animation__container--wheels .animation__container--wheels_cinta1 {
  width: 46px;
  height: 46px;
  -webkit-animation: turn 4s linear infinite;
  animation: turn 4s linear infinite;
}

.animation__container--wheels .animation__container--wheels_cinta2 {
  width: 64px;
  height: 64px;
  animation: turn 9s linear infinite reverse;
}

.animation__container--camera {
  width: 123px;
}

@-webkit-keyframes turn {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes turn {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes blink_light {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.4;
  }
}

@keyframes blink_light {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.4;
  }
}

.record__container {
  width: 668px;
  height: 390px;
  border: 1px solid #572EE5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -172px;
}

.record__container.night_mode {
  border: 1px solid white;
}

.record__container_border {
  width: 27px;
  height: 25px;
  background: transparent;
  position: absolute;
}

.top {
  border-top: 1px solid #50E3C2;
  top: 20px;
}

.left {
  border-left: 1px solid #50E3C2;
  left: 20px;
}

.right {
  border-right: 1px solid #50E3C2;
  right: 20px;
}

.bottom {
  border-bottom: 1px solid #50E3C2;
  bottom: 20px;
}

.record__container--display {
  width: 480px;
  height: 320px;
  position: relative;
}

.record__container--display.night_mode .record__container--display_messague h2 {
  color: white;
}

.record__container--display.night_mode .record__container--display_messague p {
  color: white;
}

.record_display_video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.record__container--display_cover {
  background: rgba(87, 46, 229, 0.6);
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 74px auto 74px;
  grid-template-columns: 74px auto 74px;
}

.record__container--display_messague {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 8px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.record__container--display_messague h2 {
  color: #572EE5;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.record__container--display_messague h2 span {
  color: #50E3C2;
}

.record__container--display_messague p {
  font-family: "Roboto-Regular", "Roboto";
  font-size: 16px;
}

.record__container--messague_check {
  -ms-grid-column: 2;
      grid-column-start: 2;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 14px;
}

.record__container--messague_check #loader {
  -webkit-animation: turn 3s linear infinite;
  animation: turn 3s linear infinite;
}

.alself-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.record__container--options {
  -ms-grid-column: 3;
      grid-column-start: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}

.record__container--options div {
  width: 32px;
  height: 32px;
}

.record__container--messague_check-text {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: white;
}

#download-record {
  background: url("/assets/icon-download.svg") center no-repeat;
  background-size: cover;
}

#download-record:hover, #download-record:active {
  background: url("/assets/icon-download-hover.svg");
  background-size: cover;
}

#link-record {
  background: url("/assets/icon-link-normal.svg");
  background-size: cover;
}

#link-record:hover, #link-record:active {
  background: url("/assets/icon-link-hover.svg");
  background-size: cover;
}

.record__step-counter {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: center;
  -ms-grid-column: 5;
      grid-column-start: 5;
  display: none;
}

.record__step-counter.night_mode {
  color: white;
}

.record_step-repeat {
  color: #572EE5;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: center;
  -ms-grid-column: 5;
      grid-column-start: 5;
  cursor: pointer;
  display: none;
}

.record_step-repeat:hover {
  border-bottom: 2px solid #5ED7C6;
}

.record_step-repeat:active {
  color: #9CAFC3;
  border-bottom: none;
}

.record_step-repeat.night_mode {
  color: white;
}

.block {
  display: block;
}

.film_roll {
  width: 142px;
  height: 88px;
  padding-left: 13px;
  -webkit-transform: translate(470px, -110px);
  transform: translate(470px, -110px);
}

.record__steps {
  margin-top: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.record__steps--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 26px;
  column-gap: 26px;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.record__steps--wrapper.nigth_mode .record__steps-step {
  border: 1px solid white;
  color: white;
}

.record__steps--wrapper.nigth_mode .record__steps-step-active {
  color: black;
  background: white;
}

.record__steps-step {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #572EE5;
  font-family: "Roboto-Regular", "Roboto";
  font-weight: 900;
  font-size: 18px;
}

.record__steps-step-active {
  color: white;
  background: #572EE5;
}

/* .record__steps-step.night_mode {
      border: 1px solid white;
      color: white;
  }
  
  .record__steps-step-active.night_mode {
      color: black;
      background: white;
  } */
.record__steps-divisor {
  width: 795px;
  height: 7px;
  background: #572EE5;
  margin: 20px 0px;
  border-radius: 10px;
}

.record__steps-divisor.night_mode {
  background: white;
}

footer {
  margin-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer h2 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

footer .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

footer .social_media img {
  height: 25px;
}

footer p {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.button_more {
  padding: 12px;
  border-radius: 25px;
}

.container-create-gif {
  min-height: 100%;
}

.record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.record #button_list {
  margin-top: -88px;
  margin-bottom: 26px;
}

.animation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(-444px, 114px);
  transform: translate(-444px, 114px);
}

.animation__container--luz {
  height: 151px;
  width: 91px;
  -webkit-transform: translate(5px, 2px);
  transform: translate(5px, 2px);
  -webkit-animation: blink_light 1s ease infinite;
  animation: blink_light 1s ease infinite;
}

.animation__container--wheels {
  -webkit-transform: translate(-8px, 15px);
  transform: translate(-8px, 15px);
}

.animation__container--wheels .animation__container--wheels_cinta1 {
  width: 46px;
  height: 46px;
  -webkit-animation: turn 4s linear infinite;
  animation: turn 4s linear infinite;
}

.animation__container--wheels .animation__container--wheels_cinta2 {
  width: 64px;
  height: 64px;
  animation: turn 9s linear infinite reverse;
}

.animation__container--camera {
  width: 123px;
}

@-webkit-keyframes turn {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes turn {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes blink_light {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.4;
  }
}

@keyframes blink_light {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.4;
  }
}

.record__container {
  width: 668px;
  height: 390px;
  border: 1px solid #572EE5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -172px;
}

.record__container.night_mode {
  border: 1px solid white;
}

.record__container_border {
  width: 27px;
  height: 25px;
  background: transparent;
  position: absolute;
}

.top {
  border-top: 1px solid #50E3C2;
  top: 20px;
}

.left {
  border-left: 1px solid #50E3C2;
  left: 20px;
}

.right {
  border-right: 1px solid #50E3C2;
  right: 20px;
}

.bottom {
  border-bottom: 1px solid #50E3C2;
  bottom: 20px;
}

.record__container--display {
  width: 480px;
  height: 320px;
  position: relative;
}

.record__container--display.night_mode .record__container--display_messague h2 {
  color: white;
}

.record__container--display.night_mode .record__container--display_messague p {
  color: white;
}

.record_display_video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.record__container--display_cover {
  background: rgba(87, 46, 229, 0.6);
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 74px auto 74px;
  grid-template-columns: 74px auto 74px;
}

.record__container--display_messague {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 8px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.record__container--display_messague h2 {
  color: #572EE5;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.record__container--display_messague h2 span {
  color: #50E3C2;
}

.record__container--display_messague p {
  font-family: "Roboto-Regular", "Roboto";
  font-size: 16px;
}

.record__container--messague_check {
  -ms-grid-column: 2;
      grid-column-start: 2;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 14px;
}

.record__container--messague_check #loader {
  -webkit-animation: turn 3s linear infinite;
  animation: turn 3s linear infinite;
}

.alself-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.record__container--options {
  -ms-grid-column: 3;
      grid-column-start: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}

.record__container--options div {
  width: 32px;
  height: 32px;
}

.record__container--messague_check-text {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: white;
}

#download-record {
  background: url("/assets/icon-download.svg") center no-repeat;
  background-size: cover;
}

#download-record:hover, #download-record:active {
  background: url("/assets/icon-download-hover.svg");
  background-size: cover;
}

#link-record {
  background: url("/assets/icon-link-normal.svg");
  background-size: cover;
}

#link-record:hover, #link-record:active {
  background: url("/assets/icon-link-hover.svg");
  background-size: cover;
}

.record__step-counter {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: center;
  -ms-grid-column: 5;
      grid-column-start: 5;
  display: none;
}

.record__step-counter.night_mode {
  color: white;
}

.record_step-repeat {
  color: #572EE5;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: center;
  -ms-grid-column: 5;
      grid-column-start: 5;
  cursor: pointer;
  display: none;
}

.record_step-repeat:hover {
  border-bottom: 2px solid #5ED7C6;
}

.record_step-repeat:active {
  color: #9CAFC3;
  border-bottom: none;
}

.record_step-repeat.night_mode {
  color: white;
}

.block {
  display: block;
}

.film_roll {
  width: 142px;
  height: 88px;
  padding-left: 13px;
  -webkit-transform: translate(470px, -110px);
  transform: translate(470px, -110px);
}

.record__steps {
  margin-top: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.record__steps--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 26px;
  column-gap: 26px;
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.record__steps--wrapper.nigth_mode .record__steps-step {
  border: 1px solid white;
  color: white;
}

.record__steps--wrapper.nigth_mode .record__steps-step-active {
  color: black;
  background: white;
}

.record__steps-step {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #572EE5;
  font-family: "Roboto-Regular", "Roboto";
  font-weight: 900;
  font-size: 18px;
}

.record__steps-step-active {
  color: white;
  background: #572EE5;
}

/* .record__steps-step.night_mode {
      border: 1px solid white;
      color: white;
  }
  
  .record__steps-step-active.night_mode {
      color: black;
      background: white;
  } */
.record__steps-divisor {
  width: 795px;
  height: 7px;
  background: #572EE5;
  margin: 20px 0px;
  border-radius: 10px;
}

.record__steps-divisor.night_mode {
  background: white;
}

/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 22px 156px;
    position: static;
  }
  header .burger_menu_btn {
    display: none;
  }
  header .menu_navegacion {
    position: static;
    width: unset;
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 45%;
  }
  header .menu_navegacion ul {
    margin-top: 0;
    width: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .menu_navegacion ul img {
    display: block;
  }
  header .menu_navegacion ul img:hover {
    cursor: pointer;
  }
  header .menu_navegacion ul li {
    padding: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .menu_navegacion ul li span {
    display: none;
  }
  main .search_section {
    width: 33%;
    margin-top: 76px;
  }
  main .search_section h2 {
    width: 90%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main .search_section h3 {
    margin-top: 73px;
    font-size: 18px;
  }
  main .search_section p {
    font-size: 16px;
  }
  main .input_search {
    width: 28vw !important;
  }
  main .trendings {
    margin-top: 162px;
  }
  main .trendings h2 {
    font-size: 25px;
    margin-bottom: 12px;
  }
  main .trendings p {
    font-size: 18px;
    width: unset;
  }
  .trendings_container {
    width: 90vw;
  }
  .trendings_container .carousel-gif-tendencias {
    width: 70%;
  }
  .trendings_container .carousel-gif-tendencias .gif {
    margin: 10px;
    min-width: 260px;
    height: 220px;
  }
  .trendings_container .slider {
    display: block;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 156px;
  }
  footer .social_media {
    width: 10%;
    margin-left: 10px;
  }
  footer p {
    margin-left: auto;
  }
}
/*# sourceMappingURL=style.css.map */