* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden;
}

.bar {
  width: 100%;
  height: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 22px 22px 22px;
  z-index: 1;
  height: 95px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header .logo:hover {
  cursor: pointer;
}

header .burger_menu_btn {
  font-size: 20px;
}

header .menu_navegacion {
  position: fixed;
  top: -100vh;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .menu_navegacion ul {
  margin-top: 10vh;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu_navegacion ul img {
  display: none;
}

header .menu_navegacion ul li {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu_navegacion ul li:hover {
  cursor: pointer;
  -webkit-text-decoration: underline #50E3C2;
          text-decoration: underline #50E3C2;
}

header .menu_navegacion ul li span {
  margin-top: 10px;
  border-bottom: 1px solid;
  width: 35%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .search_section {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 90%;
}

main .search_section h2 {
  width: 95%;
  text-align: center;
  font-size: 25px;
}

main .search_section img {
  margin-top: 30px;
  width: 82%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .search_section .busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 10px 20px;
  border-radius: 27px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .search_section .busqueda .resultado {
  display: none;
  margin-left: 10px;
  border-top: 1px solid #c4c4c4;
  margin-top: 20px;
}

main .search_section .busqueda .resultado .sugerencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  padding: 5px;
}

main .search_section .busqueda .resultado .sugerencia:hover {
  background-color: rgba(191, 189, 189, 0.3);
  cursor: pointer;
}

main .search_section .busqueda .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

main .search_section .busqueda .search .icon_close {
  display: none;
}

main .search_section .busqueda .search .input_search {
  height: 22px;
  border: none;
  width: 100%;
  margin: 0 10px;
  padding-left: 10px;
}

main .search_section .busqueda .search .icons:hover {
  cursor: pointer;
}

main .search_section .busqueda .busqueda {
  display: none;
}

main .search_section h3 {
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 44px 0 5px 0;
  font-weight: 800;
}

main .search_section p {
  font-size: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70%;
  text-align: center;
  font-weight: 400;
}

.gif {
  background-size: 100% 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 260px;
  height: 200px;
}

.gif .gif_bg {
  overflow: hidden;
  height: 100%;
}

.gif .gif_hover {
  background-color: #562ee5a3;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  height: 100%;
}

.gif .gif_hover .buttons {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.gif .gif_hover .buttons .button {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  border: none;
  opacity: 0.8;
}

.gif .gif_hover .buttons .button i {
  color: #562ee5;
}

.gif .gif_hover .buttons .button:hover {
  opacity: 1;
  cursor: pointer;
}

.gif .gif_hover .buttons .un_fav {
  opacity: 1;
}

.gif .gif_hover h2 {
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.gif .gif_hover P {
  justify-self: flex-end;
  color: white;
  font-size: 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.gif .gif_hover .unfav .un_fav, .gif .gif_hover .unfav .delete {
  display: none;
}

.gif .gif_hover .mygif .un_fav, .gif .gif_hover .mygif .fav {
  display: none;
}

.gif .gif_hover .mygif .delete {
  display: inline-block !important;
}

.gif .gif_hover .favorite .fav, .gif .gif_hover .favorite .delete {
  display: none;
}

@media only screen and (max-width: 768px) {
  .gif, .trending {
    width: 156px;
    height: 120px;
  }
  .gif .gif_hover, .trending .gif_hover {
    padding: 5px !important;
  }
  .gif .gif_hover .button, .trending .gif_hover .button {
    -webkit-transform: scale(0.9) !important;
            transform: scale(0.9) !important;
  }
  .gif .gif_hover h2, .trending .gif_hover h2 {
    font-size: 10px;
  }
  .gif .gif_hover p, .trending .gif_hover p {
    font-size: 8px;
  }
}

.full_screen_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10000;
  padding: 15px;
  border: 2px solid black;
  overflow: scroll;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full_screen_container .fa-times {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 1.4rem;
}

.full_screen_container .fa-times:hover {
  cursor: pointer;
}

.full_screen_container .controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  width: 50vw;
  border: 1px solid rgba(128, 128, 128, 0.46);
}

.full_screen_container .controllers .button {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  border: none;
  opacity: 0.8;
}

.full_screen_container .controllers .button i {
  color: #562ee5;
}

.full_screen_container .controllers .button i:hover {
  cursor: pointer;
}

.full_screen_container .controllers .button:hover {
  opacity: 1;
  cursor: pointer;
}

.full_screen_container .controllers .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.full_screen_container .controllers .info h2, .full_screen_container .controllers .info p {
  font-size: 0.7rem;
}

.full_screen_container .favorite .delete, .full_screen_container .favorite .expand, .full_screen_container .favorite .fav {
  display: none;
}

.full_screen_container .unfav .delete, .full_screen_container .unfav .expand, .full_screen_container .unfav .un_fav {
  display: none;
}

@media only screen and (max-width: 768px) {
  .full_screen_container img {
    width: 95vw;
  }
  .full_screen_container .controllers {
    width: 97%;
    height: 10vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.section_favs, .section_mis_gifs, .search_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 46px;
}

.section_favs .grid_container, .section_mis_gifs .grid_container, .search_section .grid_container {
  margin-top: 46px;
  width: 95vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px 0;
  grid-auto-rows: minmax(100px, auto);
}

.section_favs .grid_container .no_gifs, .section_mis_gifs .grid_container .no_gifs, .search_section .grid_container .no_gifs {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .grid_container {
    width: 80vw !important;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4] !important;
        grid-template-columns: repeat(4, 1fr) !important;
    grid-gap: 10px !important;
    grid-auto-rows: minmax(100px, auto) !important;
  }
}

main .trendings {
  padding: 46px 0;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .trendings h2 {
  font-size: 20px;
}

main .trendings p {
  font-size: 16px;
  text-align: center;
  width: 60%;
  font-family: Roboto, sans-serif;
}

.trendings_container {
  margin-top: 20px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendings_container .carousel-gif-tendencias {
  scroll-behavior: smooth;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 230px;
}

.trendings_container .carousel-gif-tendencias::-webkit-scrollbar {
  display: none;
}

.trendings_container .carousel-gif-tendencias .gif {
  margin: 10px;
  min-width: 176px;
  height: 140px;
}

.trendings_container .carousel-gif-tendencias .gif .gif_hover .info p, .trendings_container .carousel-gif-tendencias .gif .gif_hover .info h2 {
  font-size: 1.03rem;
  text-align: left;
}

.trendings_container .slider {
  display: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #572EE5;
  color: #572EE5;
}

.trendings_container .slider:hover {
  cursor: pointer;
  background-color: #572EE5;
  color: white;
}

footer {
  margin-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer h2 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

footer .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

footer .social_media img {
  height: 25px;
}

footer p {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 22px 156px;
    position: static;
  }
  header .burger_menu_btn {
    display: none;
  }
  header .menu_navegacion {
    position: static;
    width: unset;
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 45%;
  }
  header .menu_navegacion ul {
    margin-top: 0;
    width: 100%;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .menu_navegacion ul img {
    display: block;
  }
  header .menu_navegacion ul img:hover {
    cursor: pointer;
  }
  header .menu_navegacion ul li {
    padding: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .menu_navegacion ul li span {
    display: none;
  }
  main .search_section {
    width: 33%;
    margin-top: 76px;
  }
  main .search_section h2 {
    width: 90%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main .search_section h3 {
    margin-top: 73px;
    font-size: 18px;
  }
  main .search_section p {
    font-size: 16px;
  }
  main .trendings {
    margin-top: 162px;
  }
  main .trendings h2 {
    font-size: 25px;
    margin-bottom: 12px;
  }
  main .trendings p {
    font-size: 18px;
    width: unset;
  }
  .trendings_container {
    width: 90vw;
  }
  .trendings_container .carousel-gif-tendencias {
    width: 70%;
  }
  .trendings_container .carousel-gif-tendencias .gif {
    margin: 10px;
    min-width: 260px;
    height: 220px;
  }
  .trendings_container .slider {
    display: block;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 156px;
  }
  footer .social_media {
    width: 10%;
    margin-left: 10px;
  }
  footer p {
    margin-left: auto;
  }
}
/*# sourceMappingURL=style.css.map */